<main class="flex">
  <app-sidebar></app-sidebar>
  <div class="w-full relative">
    <div class="my-20 mx-32">
      <div class="flex justify-between w-full mb-10">
        <h1 class="font-medium text-4xl">Second list</h1>
        <button type="button" class="btn btn-filled">
          <span class="icon text-2xl">add</span>
          <span class="font-medium text-xl">New todo</span>
        </button>
      </div>
<!--      <app-todo-list [data]="selectedTodoListData"></app-todo-list>-->
    </div>
    <app-footer></app-footer>
  </div>
</main>
