<footer class="flex px-16 py-4 justify-between absolute w-full bottom-0">
  <div class="flex gap-10">
    <p class="text-xl">By Isaque Dantas</p>
    <div class="flex gap-4 items-center">
      <a href="https://github.com/isaque-dantas" target="_blank">
        <img ngSrc="assets/img/linkedin.svg" alt="" height="24" width="24">
      </a>
      <a href="https://github.com/isaque-dantas" target="_blank">
        <img ngSrc="assets/img/github.svg" alt="" height="24" width="24">
      </a>
    </div>
  </div>
  <p class="text-xl">2024 - ToDid</p>
</footer>
