<footer class="flex px-6 md:px-16 py-4 justify-between w-full bg-navbar-gradient">
  <div class="flex gap-4 md:gap-10">
    <p class="md:text-xl">By Isaque Dantas</p>
    <div class="flex gap-2 md:gap-4 items-center">
      <a href="https://www.linkedin.com/in/isaque-victor-404852316/" target="_blank">
        <img ngSrc="assets/img/linkedin.svg" alt="" height="24" width="24">
      </a>
      <a href="https://github.com/isaque-dantas" target="_blank">
        <img ngSrc="assets/img/github.svg" alt="" height="24" width="24">
      </a>
    </div>
  </div>
  <p class="md:text-xl">2024 - ToDid</p>
</footer>
