<main class="p-10 flex flex-col justify-between items-start">
  <div>
    <app-logo></app-logo>
    <h4 class="mt-20 text-primary font-medium text-3xl">Your lists</h4>
    <ul class="flex flex-col gap-2 my-8">
      <li class="text-xl">First list</li>
      <li class="text-xl">Second list</li>
      <li class="text-xl">Another ultra mega top zueira list</li>
    </ul>
    <button type="button" class="btn btn-outlined">
      <span class="icon text-2xl">add</span>
      <span class="text-xl">New</span>
    </button>
  </div>
  <button type="button" class="btn btn-outlined">
    <span class="text-xl font-medium">Logout</span>
    <span class="icon text-2xl">logout</span>
  </button>
</main>
