<app-header></app-header>
<main class="container mx-auto">
  <div class="my-20 px-6 gap-20 grid grid-cols-4 md:grid-cols-12">
    <div class="flex flex-col justify-center items-baseline col-span-4 md:col-span-8 md:col-start-2 lg:col-span-10 lg:col-start-2 xl:col-span-6 xl:col-start-1 2xl:col-span-5 2xl:col-start-2">
      <h1 class="text-primary font-medium text-4xl mb-8 md:text-6xl md:mt-10 md:text-center xl:mt-0 xl:text-left">Throw all todos to the past, in your time.</h1>
      <p class="text-xl mb-10 md:text-2xl md:text-center lg:w-3/5 lg:mx-auto xl:mx-0 xl:text-left xl:w-4/5">Manage any tasks and become more productive. Fast and safe.</p>
      <a routerLink="/signup" class="btn-sm lg:btn-xl btn-filled font-medium text-xl md:text-2xl md:text-center md:w-full xl:w-fit">Start now</a>
    </div>
    <figure class="col-span-4 md:col-span-6 md:col-start-3 lg:col-span-8 lg:col-start-3 xl:col-span-6 xl:col-start-7 2xl:col-span-5"><img ngSrc="assets/img/multi-tasking-low-size.png" alt="" height="799" width="799">
    </figure>
  </div>
</main>
<div class="fixed bottom-0 w-full">
  <app-footer></app-footer>
</div>
